<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            SMS
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">sms</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>
        <ion-card-header *ngIf="id && postCode; else noConfig">
            <ion-card-title>Outing type</ion-card-title>
            <ion-card-subtitle>please select the reason you are going out</ion-card-subtitle>
        </ion-card-header>

        <ng-template #noConfig>
            <ion-card-header>
                <ion-card-title>Please config your data first</ion-card-title>
                <ion-card-subtitle>Tap the setting in the tabs bellow and add your details</ion-card-subtitle>
            </ion-card-header>
        </ng-template>

        <ion-card-content *ngIf="id && postCode">
            <ion-item>
                <ion-label>asdf</ion-label>
                <ion-button (click)="send(1)">asdf</ion-button>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
