<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            SMS
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">sms</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>
        <ion-card-header *ngIf="id && postCode; else noConfig">
            <ion-card-title>Outing type</ion-card-title>
            <ion-card-subtitle>please select the reason you are going out</ion-card-subtitle>
        </ion-card-header>

        <ng-template #noConfig>
            <ion-card-header>
                <ion-card-title>Please config your data first</ion-card-title>
                <ion-card-subtitle>Tap the setting in the tabs bellow and add your details</ion-card-subtitle>
            </ion-card-header>
        </ng-template>

        <ion-card-content *ngIf="id && postCode">
            <ion-button (click)="send(1)" expand="block">Pharmacy/doctor</ion-button>
            <ion-button (click)="send(2)" expand="block">Supermarket/service</ion-button>
            <ion-button (click)="send(3)" expand="block">State services</ion-button>
            <ion-button (click)="send(4)" expand="block">Bank</ion-button>
            <ion-button (click)="send(5)" expand="block">Help person in need</ion-button>
            <ion-button (click)="send(6)" expand="block">Walk a pet</ion-button>
            <ion-button (click)="send(7)" expand="block">Funeral/wedding/baptism</ion-button>
            <ion-button (click)="send(8)" expand="block">Other</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
